@import '../../../../index.scss';
.question-create {
  .question-type {
    margin-top: 15px;
    .type-create {
      min-height: 200px;
      margin-top: 15px;
      background-color: $grey-colour;
      border-radius: 10px;
      display: flex;
    }
  }
}
