.quiz-selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .selector {
    margin: 10px;
    display: flex;
    flex-direction: column;
    .selector-button {
      max-height: 56px;
    }
  }
}
