@import '../../common.scss';

.text-input {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.text-field {
  & label.Mui-focused {
    color: $selected-color;
  }
  & .MuiOutlinedInput-root {
    &.Mui-focused fieldset {
      border-color: $selected-color;
    }
  }
}
