.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  .question-form {
    top: '50%';
    left: '50%';
    position: absolute;
  }
  .num-users {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .title-add {
    display: flex;
    width: 100%;
    align-items: center;
    .title {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .add-question {
      display: flex;
      margin-left: auto;
      :hover {
        cursor: pointer;
      }
    }
  }
  .accordion-questions {
    width: 100%;
  }
}
.create-button {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
