.share-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sharing-url {
    display: flex;
    flex-direction: column;
    input {
      background-color: #d3d384;
      border: 0px;
      min-width: 400px;
      cursor: not-allowed;
      margin: 5px;
      font-size: 15px;
      border-radius: 5px;
    }
  }
}
