.share-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sharing-urls {
    display: flex;
    flex-direction: column;
    .url {
      display: flex;
      flex-direction: row;
      .copy-icon {
        cursor: copy;
      }

      input {
        background-color: #baa286;
        border: 0px;
        min-width: 400px;
        cursor: not-allowed;
        margin: 5px;
        font-size: 15px;
        border-radius: 5px;
      }
    }
  }
}
