@import './common.scss';
body {
  margin: 0;
  color: rgba(248, 248, 248, 0.87);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #252525;
  -webkit-font-smoothing: antialiased;
}

.left {
  left: 0;
}
.rigth {
  right: 0;
}

#pagebody .create-button {
  background-color: $success-color;
}

#pagebody .remove-button {
  background-color: $error-color;
}

.error {
  color: #ff5555cb;
}
